@tailwind base;
@tailwind components;
@tailwind utilities;

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  /* border: 1px solid blue; */
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.panel h1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.panel.open {
  flex: 1;
}

.panel.open-active {
  flex: 4;
}

.panel h1:first-child {
  transform: translateY(-100%);
}

.panel h1:last-child {
  transform: translateY(100%);
}

.panel.open-active h1:first-child {
  transform: translateY(0);
}

.panel.open-active h1:last-child {
  transform: translateY(0);
}
