@tailwind base;
@tailwind components;
@tailwind utilities;

#showproducts::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#showproducts::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray background for the track */
  border-radius: 4px; /* Rounded corners for the track */
}

#showproducts::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #4caf50, #81c784); /* Gradient for the thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

#showproducts::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #388e3c, #66bb6a); /* Slightly darker gradient on hover */
}
